.recentEventsContainer {
  background-color: #fafafa;
  padding-top: 4.14286rem;
  padding-bottom: 4.14286rem;
}

@media (max-width: 575.98px) {
  .recentEventsContainer {
    padding-top: 4.14286rem;
    padding-bottom: 4.14286rem;
  }
}