@import "../../styles/variables";
.customNavbar {
    padding-top: 0.71429rem !important;
    padding-bottom: 0.71429rem !important;
    background: $darkBlue !important;
}
.navLink {
    font-size: 0.85714rem !important;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .2s;
    line-height: 1.6;
    font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.5);

  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}
.navLink:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  background-color: transparent;
}
