@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: 600;
  color: #6e7887 !important;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: .5rem;
}

.InputElement {
  outline: none;
  border: 1px solid #e4e6e9;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f6fa;
  //padding-top: 0.55714rem !important;
  //padding-bottom: 0.55714rem !important;
  border-radius: .20rem;
}

.InputElement:focus {
  outline: none;
  background-color: #f0f2f8;
  color: #26304d;
}
.InputElement::placeholder {
  font-size: 0.8rem;
}

.Invalid {
  border: 1px solid theme-color("danger");
  //background-color: #FDA49A;
}
