.forgotPasswordWrapper {
  .inputElementsWrapper {
    padding: 2.37143rem 2.35714rem !important;
    -webkit-box-shadow: 0 4px 7px 0 rgba(38, 48, 77, 0.045);
    box-shadow: 0 4px 7px 0 rgba(38, 48, 77, 0.045);
    background-color: #fff !important;
    border-radius: .25rem!important;
  }
  .loginLink:hover {
    cursor: pointer;
    text-decoration: underline;
  }

}
