.recentPitchContainer {
  background-color: #fafafa;
  padding-top: 5.14286rem;
  padding-bottom: 5.14286rem;
}


@media (max-width: 575.98px) {
  .recentPitchContainer {
    padding-top: 4.14286rem;
    padding-bottom: 4.14286rem;
  }
}
